<h1>Edit Post</h1>

<%= render "form", post: @post %>

<p class="buffer-top">
  <%= button_to t('links.delete'), @post, method: :delete, class: 'btn btn-outline-danger' %>
</p>

<div class="py-4">
  <%= link_to t('links.to_return'), :back, class: 'btn btn-secondary' %>
</div>
